/* Error: @use is coming soon, but it's not supported in this version of Dart Sass.
 *     ,
 * 110 | @use "sass:map";
 *     | ^^^^^^^^^^^^^^^
 *     '
 *   src/scss/style.scss 110:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: @use is coming soon, but it's not supported in this version of Dart Sass.\a     \2577 \a 110 \2502  @use \"sass:map\";\a     \2502  ^^^^^^^^^^^^^^^\a     \2575 \a   src/scss/style.scss 110:1  root stylesheet";
}
