// **-> Begin regular styles.

// Here, if a Mixin exists, we use it.
h2, .h2 {
  @include h2;
}

h3, .h3 {
  @include h3;
}

.div label {
  @include h2; // Note: 2.
}

p {
  @include element-p;

  &.alert {
    font-weight: fw(600);
    color: clr(milano-red);
  }
}

.div .description {
  @include element-p;
  color: scale-color(clr(black), $lightness: 20%);
}

a {
  @include element-a;
}

button {
  @include element-button;

  &.primary {
    @include element-button-primary;
  }
}

.overlay {
  @include overlay;

  &.blue {
    @include border-radius(sizing(025));
    background-color: scale-color(clr(dodger-blue), $alpha: -20%);
  }
}

// Otherwise fall back to inline style rules.
.random-text-item {
  $margin: spacing(145, 0, 100);
  color: shade(clr(milano-red), 10%);
}

// *-> End regular styles.
