// **-> Begin functions.

// Include SASS map.
@use "sass:map";

$px-rem-base: 16 !default;

// Function to convert px to rem.
@function value-strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function px-rem($pixels) {
  @return value-strip-unit($pixels) / $px-rem-base * 1rem;
}

// Tint given color.
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

// Shade given color.
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

// Sizing;
@function sizing($value) {
  $size: map-get($sizing, $value);

  @return $size;
}

// z-index.
@function z($value) {
  $index: map-get($z-index, $value);

  @return $index;
}

// Font family.
@function ff($value) {
  $family: map-get($font-family, $value);

  @return $family;
}

// Font weight.
@function fw($value) {
  $weight: map-get($font-weights, $value);

  @return $weight;
}

// Font size;
@function fs($value) {
  $size: sizing($value);

  @return $size;
}

// Color.
@function clr($value) {
  $color: map-get($colors, $value);

  @return $color;
}

// Border width;
@function bw($value) {
  $width: map-get($border-widths, $value);

  @return $width;
}

// Media query;
@function mq($value) {
  $query: map-get($mq, $value);

  @return $query;
}

// Spacing.
@function spacing($one: false, $two: false, $three: false, $four: false) {
  $spacing: sizing($one);

  @if $two {
    $spacing: sizing($one) sizing($two);
  }

  @if $three {
    $spacing: sizing($one) sizing($two) sizing($three);
  }

  @if $four {
    $spacing: sizing($one) sizing($two) sizing($three) sizing($four); // Write as spacing(100, 0, 050, 020).
  }

  @return $spacing;
}

// *-> End functions.
