// **-> Begin mixins. Defined by UX/Design team.

// Helper mixins.

@mixin br($radius: 0) {
  border-radius: $radius;
}

// Media query. Contains optional check for retina displays.
@mixin bp-min($size, $retina: false) {
  @if $retina {
    @media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: $size),
    screen and (min--moz-device-pixel-ratio: 2) and (min-width: $size),
    screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: $size),
    screen and (min-device-pixel-ratio: 2) and (min-width: $size),
    screen and (min-resolution: 192dpi) and (min-width: $size),
    screen and (min-resolution: 2dppx) and (min-width: $size) {
      @content;
    }
  }
  @else {
    @media screen and (min-width: $size) {
      @content;
    }
  }
}

@mixin font-base-heading {
  font-family: ff(heading);
  font-weight: fw(600);
}

@mixin font-base-element {
  font-family: ff(element);
  font-weight: fw(300);
}

// Transition. Applies only if the browser supports a check for prefers-reduced-motion. Otherwise no animations.
// Also checks for screen size to not apply to touch devices where animation can cause click issues.
@mixin transition($mq: ldesktop, $duration: 0.2s) {
  @media screen and (prefers-reduced-motion: no-preference) {
    @include bp-min(mq($mq)) {
      transition: all ease $duration;
    }
  }
}

// Element mixins. Note: 4.

@mixin h1 {
  @include font-base-heading;
  margin: spacing(200, 0, 120);
  padding: spacing(100);
  color: clr(white);
  font-size: fs(200);
  font-weight: fw(800);
  background-color: scale-color(clr(dodger-blue), $saturation: -10%); // Note: 1.
}

@mixin h2 {
  @include font-base-heading;
  margin: spacing(195, 0, 120);
  padding-bottom: spacing(120);
  color: scale-color(clr(black), $lightness: 20%); // Note: 1.
  font-size: fs(180);
  border-bottom: bw(010) solid scale-color(clr(white), $lightness: -10%); // Note: 8.
}

@mixin h3 {
  @include font-base-heading;
  margin: (180, 0, 100);
  color: scale-color(clr(black), $lightness: 30%); // Note: 1.
  font-size: fs(140);
}

@mixin element-p {
  @include font-base-element;
  margin: spacing(050, 0, 100);
  color: clr(black);
  font-size: fs(100);

  + ul {
    margin-top: spacing(050);
  }
}

@mixin element-a($mq: ldesktop) {
  @include font-base-element;
  @include transition();
  color: clr(forest-green);
  font-size: fs(100);
  text-decoration: none;

  &.external {
    display: inline-block;
    margin-right: spacing(050);
    padding-right: calc(spacing(100) * 2);
    background-image: url("../path/to/icon.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: $size;
  }

  &:visited {
    color: shade(clr(forest-green), 20%);
  }

  @include bp-min(mq($mq)) {
    &:hover, &:focus {
      color: tint(clr(forest-green), 20%);
      text-decoration: underline;
    }
  }
}

@mixin element-button($mq: ldesktop) {
  @include font-base-element;
  @include transition();
  display: inline-block;
  margin: spacing(100, 0, 050);
  padding: spacing(100, 140);
  color: clr(white);
  font-size: fs(160);
  background-color: scale-color(clr(black), $lightness: 40%); // Note: 1.
  border: none;

  @include border-radius(sizing(030));

  @include bp-min(mq($mq)) {
    &:hover, &:focus {
      background-color: scale-color(clr(black), $lightness: 20%);
    }
  }
}

@mixin element-button-primary($mq: ldesktop) {
  @include element-button;
  @include border-radius(sizing(025));
  font-size: fs(150);
  background-color: scale-color(clr(dodger-blue), $saturation: -20%); // Note: 1.

  @include bp-min(mq($mq)) {
    &:hover, &:focus {
      background-color: clr(dodger-blue);
    }
  }
}

@mixin overlay {
  z-index: z(100);
  padding: spacing(120);
  background-color: scale-color(clr(black), $alpha: -10%); // Note: 1.
}

// *-> End mixins.
